@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

.tl{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tl span{
    color: #ffcb00;
}

.tl h1{
    font-family: 'Arimo', sans-serif;
    display: flex;
    align-items: center;
    margin-top: 50px;
    position: relative;
    justify-content: center;
}


.time-line{
    width: 50%;
    font-family: 'Arimo', sans-serif;
    position: relative;
    margin-top: 100px;
}

.div-img{
    gap: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-img a{
    cursor: pointer;
    margin-left: 350px;
    position: relative;
}
.div-img img{
    width: 600px;
}


