@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  transition: .2s linear;
  
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  background: #fcfbfc;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  font-family: 'Arimo', sans-serif;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}


