/* Variaveis do ROOT*/
:root {
    --color-primary: #7380ec;
    --color-sucess: #41f1b6;
    --color-warning: #ffbb55;
    --color-danger: #f80b0b;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;


    --box-shadow: 0 2rem 3rem var(--color-light);
}



 
/*--------Dark THEME VARIVAIES*/

[data-theme='dark']{
    color: #dce1eb;
    background-color: #181a1e;
    --color-background: #202529;
    --color-dark:#edeffd;
    --color-white: #202529;
    --color-dark-variant:#a3bdcc;
    --color-light:rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.cliente {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

.add-button{
    display: flex;
    cursor: pointer;
    color: #7380ec ;
    background-color: rgba(255, 0, 0, 0);
    /* justify-content: center; */

}

.add-button p{
    background-color: transparent;
    align-self: center;
    color: #181a1e;
}

.details{
    color:#7380ec;
    cursor: pointer;
}

.middle{
    position: relative;
    display: flex;
    width: 400px;
    justify-content: flex-start;
    flex-direction: row;
}
.container {
    height: 100vh;
    font-size: 14px !important; 
    font-family: poppins, sans-serif;
    display: flex;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
    width: 100%;
    padding: 1.5%;
    width: 100%;
}

main{
    width: 100vw;

}

.research{
    display: flex;
    width: 95%;
    margin-left: 1%;
    margin-bottom: 15px;
    position: relative;
}

.research input::placeholder{
    color: var(--color-info-dark);
}

.research input{
    border-bottom: 0.5px solid black;
    background-color: var(--color-background);
    width: 250px;
    border-radius: 5px;
    text-align: center;
}

.research button{
    cursor: pointer;
    height: 25px;
    width: 100px;
    margin-left: 24px;
    position: relative;
    transition: 1.5s;
    border-radius: 5px;
}

.research button:hover{
    color: whitesmoke;
    background-color: #035885;
}



.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);

}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-sucess);
}

.warning {
    color: var(--color-warning);
}



aside .top {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside.logo {
    display: flex;
    gap: 0.8rem;
}

aside .close {
    display: none;
}

/*sidebar*/

aside .sidebar {
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 1rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

.toggle-button {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 1rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}


aside .sidebar button {
    cursor: pointer;
    color: var(--color-info-dark);
    background-color: transparent;

}


aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar .toggle-button span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}



aside .sidebar a.active {
    background: var(--color-light);
    color: #035885;
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: #035885;
}

aside .sidebar a.active span {
    color: #035885;
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color:#035885;
}

aside .sidebar .toggle-button:hover {
    color:#035885;
    margin-left: 1rem;    
}


aside .sidebar a:hover span {
    margin-left: 0.2rem;
}

aside .sidebar .message-count {
    background: var(--color-primary-variant);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 12px;
    border-radius: var(--border-radius-1);
}


/*==========MAIN==================*/



main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
    background: transparent;
    color: var(--color-dark);
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    align-items: center;
}



main .insights>div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights>div:hover {
    box-shadow: none;
}

main .insights>div span {
    background: var(--color-primary);
    border-radius: 50%;
}


main .insights>div.expenses span {
    background: #FFD400;
}

main .insights>div.income span {
    background: var(--color-sucess);
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50px;
}

main .insights svg {
    width: 4.5rem;
    height: 4.5rem;
}

main .insights svg circle {
    fill: none;
    stroke: #046ba3;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(1px, 1px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}


main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .insights .expenses svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 160;
}

main .insights .income svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 160;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number p{
    position: absolute;
    margin-bottom: 25px;
    margin-right: 15px;
}
/* ===============Pedidos recentes========*/
.recent-orders {
    margin-top: 2rem;
}

.recent-orders h2 {
    margin-bottom: 0.8rem;
}

main .recent-orders table {
    background: var(--color-white);
    width: 99%;
    margin-left: 0.5%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: #046ba3;
}

/*=========RIGHT========*/

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    height: 1.6rem;
    width: 4.2rem;
    border-radius: var(--border-radius-1);
    cursor: pointer;
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: #046ba3;
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

/*=====ATUALIZACACOES RECENTES=====*/

.right .recent-updates {
    width: 360px;
    margin-bottom: 3.0rem;
}

.right .recent-updates-2 {
    width: 360px;
    margin-bottom: 30rem;
}


.right .recent-updates h2 {
    margin-bottom: 0.8rem;
}

.right .recent-updates-2 h2 {
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates-2 .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates-2 .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .recent-updates-2 .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*========ANALISE DE VENDAS=======*/
.right .sales-analytics {
    width: 360px;
    margin-top: 2rem;
}

.right .sales-analytics h2 {
    margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
    box-shadow: none;
}

.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    background:#046ba3;
    display: flex;
}

.right .sales-analytics .item.offline .icon {
    background: var(--color-danger);
}

.right .sales-analytics .item.customers .icon {
    background: var(--color-sucess);
}

.right .sales-analytics .add-product {
    background: transparent;
    border: 2px dashed #046ba3;
    color:#046ba3;
    display: flex;
    align-items: center;
    justify-content: center;
}


.swal2-input {
    width: 100%;
}

.item{
    cursor: pointer;
}

.swal2-input,
.swal2-select {
    margin-bottom: 10px;
}


.my-swal-confirm-button {
    background-color: green;
    border-color: green;
    color: white;
}

/*====MEDIA QUERIES===================*/

@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 8.8rem;
    }

    main .recent-orders table {
        width: 83vw;
    }

    
}

/*========== MEDIA QUERIES ======*/

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu{
        to{
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .logo h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
        margin-left: 1rem;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table {
        width: 100%;
        margin: 0;
    }


    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    
    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span {
        font-size: 2rem;
    }

}